.sub-header-top{
	width: 100%;
	display: inline-block;
	background: url(../images/gallery/banner.jpg) no-repeat top;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  margin: 0 auto;
  padding: 50px 0px;
  position: relative;

  .overlay{
  	position: absolute;
  	background: rgba(0, 0, 0, 0.57);
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	z-index: 0;
  }

	span{
    &.title{
      font-family: open-sans-semibold;
    }

		text-transform: uppercase;
		font-size: 18px;
		color: #FFFFFF;
		z-index: 999;
	}
}

.dropdown-after-login{
  display: inline-block!important;

  .dropdown-toggle{
    padding: 0px;
    margin-top: 11px;
  }

  .dropdown-menu{
    margin-top: 18px!important;
    border: 1px solid rgba(208, 194, 194, 0.15);
    padding: 0px;
  }

  .dropdown-menu > li > a {
    display: block;
    padding: 10px 10px;
    border-bottom: 1px solid #f3f3f3;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
  }

  .avatar{
    width: 30px;
    height: 30px;
    margin-right: 7px;
    display: inline-block;

    img{
      width: 100%;
      height: auto;
    }
  }

  .name{
    line-height: 0px;
  }
}